*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:#ecf0f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    min-width: 20px;
    overflow: hidden;
    text-align: right;
    border-radius: 22px;
 background-color: black;
 box-shadow: 7PX 7PX 7PX rgb(94, 94, 99);
}

.display{
    width: 100%;
    height: 10vh;
    grid-template-columns: repeat(4,66px);
    box-shadow:inset 6px 6px 13px #fff,
    inset 6px 6px 13px rgba(0,0,0.16); 
    color: black;
    background-color: white;
  border-radius: 10px;
}

.input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow:inset -6px -6px 13px #fff,
    inset 6px 6px 13px rgba(0,0,0,);
    border: none;
     color: rgb(26, 25,25);
     background-color: aliceblue;
     padding: 20px;
}

button{
    box-shadow: inset 6px 6px 13px #fff,
    6px 6px 13px rgba(0,0,0.16);
    border: none;
    background-color: #ecf0f3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    transition: all 0,3s ease-in-out;
}

button:hover{
    font-weight: bold;
}

.output{
    font-size: 28px;
    padding: 10px;
   
}

.result{
    font-size: 25px;
    padding: 10px;
}

@keyframes big{
    0%{
        font-size:25px;
    }
    100%{
        font-size: 35px;
    }
}

@keyframes small {
    0%{
        font-size: 28px;
    }
    100%{
        font-size: 18px;
    }
}