*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:#ecf0f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 35%;
    overflow: hidden;
    text-align: right;
    border-radius: 22px;
    border: double;
 background-color: black;
}
.display{
    width: 100%;
    height: 17vh;
    grid-template-columns: repeat(4,66px);
    box-shadow:inset 6px 6px 13px #fff,
    inset 6px 6px 13px rgba(0,0,0.16); 
    color: black;
    background-color: white;
  border-radius: 10px;
}

.input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow:inset -6px -6px 13px #fff,
    inset 6px 6px 13px rgba(0,0,0,);
    border: none;
     color: rgb(26, 25,25);
     background-color: aliceblue;
     padding: 15px;
 
}

button{
    
    box-shadow: inset 6px 6px 13px #fff,
    6px 6px 13px rgba(0,0,0.16);
    border: none;
    background-color: #ecf0f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
   
}

.equal{
    
    border-radius: 42px;
    box-shadow: inset 6px 6px 13px #fff,
    6px 6px 13px rgba(0,0,0.16);
    background-color: #ecf0f3;
}

.output{
    font-size: 28px;
    padding: 10px;
    font-weight: bold;
}

.result{
    font-size: 25px;
    padding: 20px;
}
